@model IEnumerable<Product>
@{
    var randomFoodItems = Model.Where(p => p.Category?.Name == "Food").OrderBy(x => Guid.NewGuid()).Take(8).ToList();
    var randomDrinkItems = Model.Where(p => p.Category?.Name == "Drink").OrderBy(x => Guid.NewGuid()).Take(8).ToList();
    var randomComboItems = Model.Where(p => p.Category?.Name == "Combo").OrderBy(x => Guid.NewGuid()).Take(8).ToList();
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid w-100 py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Welcome to FoodHub<br />A Taste of Perfection!</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">
                    At FoodHub, we serve fresh, flavorful dishes crafted with passion. Enjoy a cozy ambiance, exquisite meals, and an unforgettable dining experience. Join us today!
                </p>
                <div class="d-flex justify-content-center animated slideInLeft">
                    <div class="btn-group" role="group">
                        <a asp-action="" asp-controller="" class="btn btn-primary py-sm-3 px-sm-5 me-3">Book A Table</a>
                        <a asp-action="" asp-controller="" class="btn btn-outline-primary py-sm-3 px-sm-5">Order Now</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 d-flex">
                <div class="service-item rounded pt-3 w-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Master Chefs</h5>
                        <p>Our expert chefs bring years of experience and creativity to prepare delicious, high-quality dishes for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
                <div class="service-item rounded pt-3 w-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>We carefully select fresh ingredients to craft flavorful dishes, ensuring every meal meets the highest standards.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
                <div class="service-item rounded pt-3 w-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Order</h5>
                        <p>Order your favorite meals online easily and enjoy fast, reliable delivery straight to your doorstep anytime.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
                <div class="service-item rounded pt-3 w-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>24/7 Service</h5>
                        <p>We are here for you 24/7, providing excellent customer service to assist with orders, reservations, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                        src="img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                        src="img/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                        src="img/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                        src="img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal only-after">About Us </h5>
                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>FoodHub</h1>
                <p class="mb-4">
                    At our restaurant, we are dedicated to providing an exceptional dining experience with high-quality ingredients and masterfully crafted dishes. Our team of expert chefs brings passion and creativity to every meal, ensuring that each bite is a perfect blend of flavor and freshness
                </p>
                <p class="mb-4">
                    We believe in excellence, from our warm and welcoming atmosphere to our commitment to outstanding customer service. Whether you’re enjoying a casual meal or a special occasion, we strive to make every visit unforgettable.
                    <br />
                    Join us and savor the taste of perfection!
                </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                15
                            </h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                50
                            </h1>
                            <div class="ps-4">
                                <p class="mb-0">Popular</p>
                                <h6 class="text-uppercase mb-0">Master Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Menu Start -->
<div class="container mb-5">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
        <h1 class="mb-5">Most Popular Items</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
            <li class="nav-item">
                <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                   href="#food">
                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Best</small>
                        <h6 class="mt-n1 mb-0">Food</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill"
                   href="#drink">
                    <i class="fa fa-coffee fa-2x text-primary"></i>

                    <div class="ps-3">
                        <small class="text-body">Special</small>
                        <h6 class="mt-n1 mb-0">Drink</h6>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                   href="#combo">
                    <i class="fa fa-utensils fa-2x text-primary"></i>
                    <div class="ps-3">
                        <small class="text-body">Wow</small>
                        <h6 class="mt-n1 mb-0">Combo</h6>
                    </div>
                </a>
            </li>
        </ul>
        <!-- Food Menu -->
        <div class="tab-content">
            <div id="food" class="tab-pane fade show active p-0">
                <div class="row g-4">
                    @foreach (var food in randomFoodItems)
                    {
                        <div class="col-lg-6">
                            <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@food.Id">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded"
                                         src="@(string.IsNullOrEmpty(food.ProductAvatar?.ImagePath) ?
                                                    "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                                    : $"/img/products/{food.ProductAvatar.ImagePath}")"
                                         alt="Product Image"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>@food.Name</span>
                                            <span class="text-primary">@food.Price.ToString("C", new CultureInfo("en-US"))</span>
                                        </h5>
                                        @if (!string.IsNullOrEmpty(food.Description))
                                        {
                                            <small class="fst-italic">
                                                @(food.Description.Length > 50 ? food.Description.Substring(0, 50) + "..." : food.Description)
                                            </small>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>

            <!-- Drink Menu -->
            <div id="drink" class="tab-pane fade p-0">
                <div class="row g-4">
                    @foreach (var drink in randomDrinkItems)
                    {
                        <div class="col-lg-6">
                            <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@drink.Id">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded"
                                         src="@(string.IsNullOrEmpty(drink.ProductAvatar?.ImagePath) ?
                                                    "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                                    : $"/img/products/{drink.ProductAvatar.ImagePath}")"
                                         alt="Product Image"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>@drink.Name</span>
                                            <span class="text-primary">@drink.Price.ToString("C", new CultureInfo("en-US"))</span>
                                        </h5>
                                        @if (!string.IsNullOrEmpty(drink.Description))
                                        {
                                            <small class="fst-italic">
                                                @(drink.Description.Length > 50 ? drink.Description.Substring(0, 50) + "..." : drink.Description)
                                            </small>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>

            <!-- Combo Menu -->
            <div id="combo" class="tab-pane fade p-0">
                <div class="row g-4">
                    @foreach (var combo in randomComboItems)
                    {
                        <div class="col-lg-6">
                            <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@combo.Id">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded"
                                         src="@(string.IsNullOrEmpty(combo.ProductAvatar?.ImagePath) ?
                                                    "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                                    : $"/img/products/{combo.ProductAvatar.ImagePath}")"
                                         alt="Product Image"
                                         style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>@combo.Name</span>
                                            <span class="text-primary">@combo.Price.ToString("C", new CultureInfo("en-US"))</span>
                                        </h5>
                                        @if (!string.IsNullOrEmpty(combo.Description))
                                        {
                                            <small class="fst-italic">
                                                @(combo.Description.Length > 50 ? combo.Description.Substring(0, 50) + "..." : combo.Description)
                                            </small>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            @if (randomFoodItems.Count > 8 || randomDrinkItems.Count > 8 || randomComboItems.Count > 8)
            {
                <div class="text-center mt-4">
                    <a class="btn btn-primary show-more" asp-action="Menu" asp-controller="Home">Show More</a>
                </div>
            }
        </div>
    </div>
</div>
<!-- Menu End -->

<!-- Feedback Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Feedback</h5>
            <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg"
                         style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg"
                         style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                         style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>
                    Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg"
                         style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Feedback End -->




