@model Product
@{
    ViewData["Title"] = "Product Detail";
    int thumbnail = 0;
}
<section>
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pb-4">
            <h1 class="display-3 text-white mb-3">Detail</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="color:white" onmouseover="this.style.color='#FEA116'" onmouseout="this.style.color='white'">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Menu" asp-controller="Home" style="color:white" onmouseover="this.style.color='#FEA116'" onmouseout="this.style.color='white'">Menu</a></li>
                    <li class="breadcrumb-item text-white">Food Name</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div id="imageCarousel" class="carousel slide rounded-4 mb-3" data-bs-ride="carousel" style="max-width: 800px; max-height: 600px; overflow: hidden;">
                    <div class="carousel-inner mb-5">
                        @if (Model.ProductImages != null)
                        {
                            int imageIndex = 0;
                            foreach(var image in Model.ProductImages)
                            {
                                <div class="carousel-item @(imageIndex == 0 ? "active" : "")">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="venobox" data-gall="gallery01" data-fitview="true" href="/img/products/@image.ImagePath">
                                            <img class="rounded-4" src="/img/products/@image.ImagePath" />
                                        </a>
                                    </div>
                                </div>
                                imageIndex++;
                            }
                            <!-- Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>

                        }
                        else
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="rounded-4" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" />
                            </div>
                        }
                        <!-- Thumbnail Row -->

                    </div>
                    <div class="d-flex justify-content-center">

                        @if (Model.ProductImages != null)
                        {
                            foreach (var image in Model.ProductImages)
                            {
                                <img class="border mx-1 rounded-2 item-thumb" width="80" height="80" src="/img/products/@image.ImagePath" data-bs-target="#imageCarousel" data-bs-slide-to="@thumbnail" />
                                thumbnail++;
                            }
                        }
                    </div>
                </div>           
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Name
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <span class="h5">@Model.Price.ToString("C", new CultureInfo("en-US"))</span>
                    </div>

                    <dl class="row">
                        <dt class="col-3">Category:</dt>
                        <dd class="col-9">@Model.Category?.Name</dd>

                    </dl>
                    <hr />
                    <a asp-action="" asp-controller="" class="btn btn-success shadow-0"> Buy now </a>
                    <a asp-action="" asp-controller="" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                    @if (Model != null)
                    {
                        @Html.Partial("_Feedback", Model)
                    }
                </div>
            </main> 
        </div>
    </div>
</section>
<!-- content -->

<section class="bg-white py-4">
    <div class="container">
        <div class="row d-flex align-items-stretch gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white h-100">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3 active" data-bs-toggle="pill"
                               href="#description">
                                <i class="fa fa-hamburger fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <h6 class="mt-n1 mb-0">Description</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill"
                               href="#feedback">
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <h6 class="mt-n1 mb-0">Feedback</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- Pills navs -->
                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description">
                            @if(Model.Description != null)
                            {
                                <p>
                                    @Model.Description
                                </p>
                            }else{
                                <p>
                                    No Description
                                </p>
                            }
                        </div>
                        <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback">
                            <p>
                                Tab content or sample information now <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <!-- Pills content -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">You can like</h5>
                            <div class="col-lg-12 mt-3">
                                <a href="">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="/img/menu-1.jpg" alt=""
                                             style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">
                                                Ipsum ipsum clita erat amet dolor justo
                                                diam
                                            </small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <a href="">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="/img/menu-1.jpg" alt=""
                                             style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">
                                                Ipsum ipsum clita erat amet dolor justo
                                                diam
                                            </small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>